In [7]:
import sqlite3
import pandas as pd
conn = sqlite3.connect(':memory:')

In [8]:
df = pd.read_csv("../data/fakty_tmp.csv")
df

                                               Fakty
0  People who are allergic to cats are actually a...
1  In 1987 cats overtook dogs as the number one p...
2  Cats are subject to gum disease and to dental ...
3  Not every cat gets 'high' from catnip. Whether...

In [9]:
table_name = "Tabela"

In [11]:

cursor = conn.cursor()
cursor.execute(f'''SELECT name FROM sqlite_master WHERE type='table' AND name='{table_name}' ''')
existing_table = cursor.fetchone()

if existing_table:
    conn.execute(f'DELETE FROM {table_name}')

In [12]:
df.to_sql(table_name, conn, index=False)

4

In [13]:
query_result = pd.read_sql(f'SELECT * FROM {table_name}', conn)
print(query_result)
conn.close()

                                               Fakty
0  People who are allergic to cats are actually a...
1  In 1987 cats overtook dogs as the number one p...
2  Cats are subject to gum disease and to dental ...
3  Not every cat gets 'high' from catnip. Whether...