In [1]:
import pandas as pd

In [22]:
df = pd.read_csv("../data/file.txt", sep = ";", header=None)

In [23]:
df = df.T
df

                                                   0
0  People who are allergic to cats are actually a...
1  In 1987 cats overtook dogs as the number one p...
2  Cats are subject to gum disease and to dental ...
3  Not every cat gets 'high' from catnip. Whether...
4                                                NaN

In [25]:
df = df.dropna()
df =df.drop_duplicates()
df.columns = ['Fakty']
df

                                               Fakty
0  People who are allergic to cats are actually a...
1  In 1987 cats overtook dogs as the number one p...
2  Cats are subject to gum disease and to dental ...
3  Not every cat gets 'high' from catnip. Whether...

In [26]:
df.to_csv("../data/fakty_tmp.csv", index=False)